/*Root declerations*/
:root
{
  --olive-green: rgba(80, 160, 20, .5);
  --orange-brown: #711705;
  --royal-purple: rgba(110, 22, 57,1);
  --highlight:  rgba(160, 60, 160, .4);
  --ink: black;             /* text color */  
  --paper: white;           /* page background */
  --space-2: 3rem;         /* spacing scale */
  
  
  /*Rounding*/
  --radius: 12px
}
body
{ 
  color: var(--ink); 
  text-align: center;
  background: var(--orange-brown); 
  
}
.tagline{ opacity: .9; font-style: italic; }
  

section  { padding: var(--space-3); border-radius: var(--radius); }

}
header{
  position: sticky; top: 0;
  color: var(--ink);
  text-align: center;
}
nav{
  display: flex;
  gap: var(--space-2);
  justify-content: center;
  padding: calc(var(--space-2) * 0.75) 0;
}
nav a:hover{ background: var(--highlight); }
